---
interface Props {
  l: string; // left image
  r: string; // right image
  rightAlt?: string;
  leftAlt?: string;
  width?: number;
  height?: number;
}

import { Image } from "astro:assets";

const {
  l,
  r,
  rightAlt = "Right image",
  leftAlt = "Left image",
  width = 1280,
  height = 720,
} = Astro.props;
---

<div class="not-prose diff aspect-video rounded-lg overflow-hidden fade-in-up">
  <div class="diff-item-1">
    <Image alt={rightAlt} src={r} width={width} height={height} loading="lazy" />
  </div>
  <div class="diff-item-2">
    <Image alt={leftAlt} src={l} width={width} height={height} loading="lazy" />
  </div>
  <div class="diff-resizer"></div>
</div>
